@model EgeUpUI.Dtos.UsereditDto.Useredit
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/HomePageAdmin/Index/">Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Settings/Index"> Ayarlar</a></li>

    </ol>
</nav>
<style>
    .card-container {
        display: flex;
        justify-content: space-between;
    }

    .profile-card,
    .form-card {
        width: 48%;
        margin-bottom: 20px;
    }

    .form-card {
        margin-left: auto;
    }
</style>

<div class="pt-7 pb-6 bg-cover" style="background-image: url('/corporate-ui-dashboard-main/assets/img/header-orange-purple.jpg'); background-position: bottom;"></div>
<div class="container">
    <div class="card card-body py-2 bg-transparent shadow-none">
        <div class="row">
            <div class="col-auto">
                <div class="avatar avatar-2xl rounded-circle position-relative mt-n7 border border-gray-100 border-4">
                    <img src="~/corporate-ui-dashboard-main/assets/img/profile 21.png" alt="profile_image" class="w-100">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h3 class="mb-0 font-weight-bold">
                        @ViewBag.UserData.Name
                    </h3>
                    <p class="mb-0">
                        @ViewBag.UserData.Email
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container my-3 py-3">
    <div class="card-container">
        <div class="card profile-card border shadow-xs h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 col-9">
                        <h6 class="mb-0 font-weight-semibold text-lg">Profil Bilgileri </h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
                <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 text-dark font-weight-semibold pt-0 pb-1 text-sm">
                        <span class="text-secondary">Adı:</span> &nbsp; @ViewBag.UserData.Name
                    </li>
                    <li class="list-group-item border-0 ps-0 text-dark font-weight-semibold pb-1 text-sm">
                        <span class="text-secondary">Soyadı:</span> &nbsp; @ViewBag.UserData.Surname
                    </li>
                    <li class="list-group-item border-0 ps-0 text-dark font-weight-semibold pb-1 text-sm">
                        <span class="text-secondary">E-posta:</span> &nbsp; @ViewBag.UserData.Email
                    </li>
                 
                </ul>
            </div>
        </div>

        <div class="card form-card border shadow-xs h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 col-9">
                        <h6 class="mb-0 font-weight-semibold text-lg">Profilini Güncelle</h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">

                <label>Adınız</label>
                <input type="text" class="form-control" asp-for="Name" value="@ViewBag.UserData.Name" readonly />
                <br />
                <label>Soyadınız</label>
                <input type="text" class="form-control" asp-for="Surname" value="@ViewBag.UserData.Surname" readonly />
                <br />
                <label>Kullanıcı Adınız</label>
                <input type="text" class="form-control" asp-for="Username" value="@ViewBag.UserData.Username" readonly />
                <br />
                <label>Email Adresiniz</label>
                <input type="text" class="form-control" asp-for="Email" value="@ViewBag.UserData.Email" readonly />
                <br />
                <label>Şifre</label>
                <input type="password" class="form-control" id="Password" />
                <br />
                <label>Şifre Tekrar</label>
                <input type="password" class="form-control" id="ConfirmPassword" />
                <br />
                <button type="submit" class="btn btn-primary" id="BilgiGüncelle">Bilgilerimi Güncelle</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("BilgiGüncelle").addEventListener("click", function (e) {
            e.preventDefault();

            var password = document.getElementById("Password").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;

            if (password.trim().length < 5 || confirmPassword.trim().length < 5) {
                Swal.fire({
                    title: 'Şifre En Az 5 Karakter Olmalı',
                    icon: 'error',
                });
            } else if (password !== confirmPassword) {
                Swal.fire({
                    title: 'Şifreler Eşleşmiyor',
                    text: 'Lütfen aynı şifreyi girin',
                    icon: 'error',
                });
            } else {
                var formData = new FormData();
                formData.append('Password', password); 
                formData.append('ConfirmPassword', confirmPassword); 

                $.ajax({
                    url: '/Admin/Settings/Index',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('#specificDivToUpdate').html(response);
                        toastr.success('Bilgileriniz Güncellendi!', 'Başarılı');

                        Swal.fire({
                            title: 'Şifre Güncellendi!',
                            text: 'Şifreniz başarıyla güncellendi.',
                            icon: 'success',
                        }).then(() => {
                            window.location.href = '/Login/Index';
                        });
                    },
                    error: function (error) {
                        var errorMessage = error.status + ': ' + error.statusText;
                        toastr.error('Bir hata oluştu! ' + errorMessage, 'Hata');
                    }
                });
            }
        });
    });

</script>


